{% extends "base.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="codeInput">Code</label>
                <input type="password" class="form-control" id="codeInput" name="code" placeholder="Teacher code" autofocus required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
